<footer>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="contact-container">
                    <h3 class="contact-title"> <u>Contactanos</u></h3>
                    <p>
                        31531 Rancho Viejo Rd. Suite 103
                        <br />
                        San Juan Capistrano, CA 92675
                        <br />
                        310-947-9731
                    </p>
                </div>
            </div>
            <div class="col-md">
                <div class="hours-container">
                    <h3 class="hours-title"><u> Horas De Servicio</u></h3>
                    <ul class="hours-list">
                        <li>Miercoles 7pm</li>
                        <li>Sabado 7pm</li>
                        <li>Domingo 4pm</li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="social-container">
                    <h3 class="social-title"><u>Sociales</u></h3>
                    <a href="https://www.facebook.com/elimlagunaniguel/">
                        <i class="fab fa-facebook fa-2x"></i>
                    </a>
                    <a href="https://www.instagram.com/elim.lagunaniguel/">
                        <i class="fab fa-instagram fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>