<header>
  <nav class="navbar navbar-expand-md navbar-light bg-light" role="navigation">
    <a class="nav navbar-brand offset-1" href="#">
    </a>
    <a href="/">
      <img class="logo" src="/assets/elimlogo.png" alt="Logo">
    </a>
    <button class="navbar-toggler" id="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbar-collapse-1" aria-controls="navbar-collapse-1" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="navbar-nav" id="nav-ul">
        <li class="nav-item{% if page.url == '/' %} active {% endif %}">
          <a class="nav-link" href="/">Inicio</a>
        </li>
        <li class="nav-item {% if page.url == '/quienes-somos/' %} active {% endif %}">
          <a class="nav-link" href="/quienes-somos/">Quienes Somos</a>
        </li>
        <li class="nav-item {% if page.url == '/pastor-roque-pena/' %} active {% endif %}">
          <a class="nav-link" href="/pastor-roque-pena/">Pastor Roque Peña</a>
        </li>
      </ul>
    </div>
  </nav>
</header>